body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-stoke: Stoke;
  --font-roboto: Roboto;
  --font-inherit: inherit;

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-lg: 18px;
  --font-size-xs-3: 11.3px;
  --font-size-3xs: 10px;
  --font-size-xl: 20px;
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: rgba(0, 0, 0, 0.82);
  --color-gray-200: rgba(0, 0, 0, 0.85);

  /* border radiuses */
  --br-8xs: 5px;
  --br-47xl: 66px;
  --br-9xs: 4px;
}
